.about-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2rem;
    max-width: 30rem;
}

#about-body-text {
    margin: 1rem 0;
}

#about-title {
    margin: 0 0 1rem 0;
    line-height:1.2em;
    font-style: italic;
}

.color-block {
    width: 22rem;
    height: 22rem;
    background-color: rgb(201, 252, 18);    
}

@media (min-width: 768px) and (max-width: 960px) {

}

@media (min-width: 961px) {
    .about-text {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #about-body-text {
        min-width: 28rem;
        margin-right: 2rem;
    }

    .color-block {
        width: 28rem;
        height: 28rem;
    }
}