main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#about, #components {
    display: flex;
    flex-direction:column;
    align-items: center;
    margin: 2rem 0;
}

textarea, select {
    width: 22rem;
    height: 6rem;
    padding: 0.7rem 0.4rem 0.4rem 0.4rem;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-family: Arial, sans-serif;
    font-size: medium;
    resize: none; 
    margin: 0.2rem;
  }

#title, #drop-down, #name, #price, #image, label, #imgInput {
    height: 2.5rem;
    margin: 0.2rem;
}

#price, #image {
    align-self: start;
    width: 10.8rem;
}

#page-title {
    margin: 6rem 4rem 3rem 4rem;
}

h3 {
    margin-bottom: 0.3rem;
    align-self: start;
}

#save-button, button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    margin: 0.5rem 0;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

#update-button {
    padding: 0 0.3rem;
    margin: 0 0 0 0.5rem;
    height: 2.5rem;
    align-content: center;
    background-color: #000000;
}

#contain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#imgInput {
    position: absolute;
    z-index: 2; /* Ensure the input is above the label */
    width: 100%; /* Match the label width */
    opacity: 0; /* Make the input invisible */
    cursor: pointer; 
    top: 0; /* Align top with the label */
    left: 0; /* Align left with the label */
}

#imgInputLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #afafaf;
    color: white;
    border-radius: 2px;
    position: relative; /* Establish a stacking context */
    z-index: 1; /* Ensure the label is under the input */
    cursor: pointer;
    width: 10.8rem;
    text-align: center; /* Center the text */
}





