.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .cart-item-image {
    width: 60px;
    height: 60px;
    background-color: #ddd;
    margin-right: 15px;
  }
  
  .cart-item-info p {
    margin: 0;
  }

  .cart-item-delete {
    margin-left: auto;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px; /* Adjust size as needed */
  }
  
  /* @media (max-width: 768px) {
    .cart-item {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .cart-item-image {
      margin-bottom: 10px;
    }
  }
   */