.cart-container {
  width: 300px;
  margin: auto;
  margin-top: 5%;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.cart-subtotal {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-weight: bold;
}

.checkout-button {
  width: 100%;
  padding: 10px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s ease;
}

.checkout-button:hover {
  background-color: #333;
}
