.checkout-page {
  display: flex;
  justify-content: space-between;
}

.checkout-form {
  display: flex;
  flex-direction: column;
  width: 30em;
  gap: 20px;
}

section {
  background: #f6f6f6;
  padding: 20px;
  border-radius: 4px;
  width: 100%;
}

input,
select {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 15px;
}

.pay-now-button {
  background-color: #000;
  color: #fff;
  padding: 15px 30px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s ease;
  margin-top: 20px;
}

.pay-now-button:hover {
  background-color: #333;
}
