#home-image {
    max-width: 100%;
    height: auto;
}

#image-container {
    max-width: 32rem;
}

#home-title {
    display: flex;
    justify-content: center;
}

#title {
    margin-bottom: 3rem;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
    background-color: rgb(255, 255, 255);
}


.welcome {
    display: flex;
    justify-content: start;
    align-items: start;
    font-size: 2em;
    font-weight: 450;
    font-style: italic
}

#text-container {
    padding: 1rem 1.5rem;
    max-width: 34rem; 
    align-self: center;
}

.body-text {
    font-size: 1.1em;
    line-height: 1.9rem;
    letter-spacing: 1px;
}

#items-heading {
    margin: 1.5rem;
    font-size: 2em;
    font-weight: 400;
}

@media (min-width: 768px) and (max-width: 960px) {
    /* .items-grid {
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        flex-direction: row;
        max-width: 100%;
    } */
}

@media (min-width: 961px) {
    .section {
        flex-direction: row;
        align-items: start;
    }

    .items-grid {
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        flex-direction: row;
        max-width: 100%;
    }

    #items-heading {
        margin: 3rem;
    }
}