#home-image {
    /* max-width: 100vw; */
    max-width: 100%; 
    height: auto;
}

#home-title {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

#title {
    margin-bottom: 3rem;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 4rem;
    background-color: rgb(255, 255, 255);
    /* padding: 1.5rem; */
}

/* .container {
    padding: 3rem 0.8rem;
    background-color: rgb(255, 217, 91);
} */

#welcome {
    display: flex;
    justify-content: start;
    align-items: start;
    font-size: 2.5em;
}

#text-container {
    margin: 1rem 1.5rem;
}

#body-text {
    font-size: 1.2em
}

#items-heading {
    margin: 1.5rem;
    font-size: 2em;
    font-weight: 500;
    /* text-decoration: underline; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}