.section01 {
    margin: 1rem 0;
}

#details-name {
    font-weight: 500;
}

.price-add {
    display: flex;
    margin-top: 1rem;
    align-items: end;
    justify-content: space-between;
}

#item-price, .item-size {
    font-size: 1.3em;

}

.item-size {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(31, 31, 31);
    height: 2.8rem;
    width: 3.5rem;
    /* padding: 1rem; */
    border-radius: 30px;
}

#size {
    color: white;
}

#item-descr {
    margin: 1rem 0;
}

#item-details-image, .item-info {
    margin: 0 1rem;
    max-width: 400px;
}

@media (min-width: 961px) {
    #item-details, .section01 {
        justify-content: center;
        align-items: start;
        min-width: 18rem;
    }

    .section01 {
        margin: 0;
    }
}