a {
    margin: 0 0rem;
    align-items: center;
}

a#icons {
    margin: 0 0.2rem;
}

svg {
    margin: 0;
    width: 24px;
    height: 24px;
}

div.navbar-start {
    align-items: center;
}

.nav-left, .logo-container, .nav-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container a, .logo-container img {
    display: block;
    flex-grow: 1;
    justify-content: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: solid 0.1rem;
    border-color: #495057;
}

a span {
    display: block;
    width: 25px;
    height: 1px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
    pointer-events: none;
}

.logo-container {
    flex: 0 1 auto;
    justify-content: center;
}

#sitelogo {
    width: 200px;
    height: 100px;
}

.isactive .navbar-menu {
    display: block;
}

.close-menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.5rem;
    z-index: 1;
}

.close-menu span:first-child {
    transform: rotate(45deg) translate(0px, 5px);
}

.close-menu span:last-child {
    transform: rotate(-45deg) translate(0px, -5px);
}

@media (max-width: 960px) {
    
    .navbar-menu {
        display: block;
        position: fixed;
        top: 0;
        left: -100%; 
        width: 60vw; 
        height: 100vh;
        background-color: #fff; 
        transition: left 0.3s ease; 
        z-index: 10; 
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .navbar-start {
        display: flex;
        flex-direction: column;
        margin: 1rem;
    }

    .navbar-menu.is-active {
        left: 0;
    }

    a#nav-link {
        margin: 1rem;
    }
}

@media (min-width: 961px) {
    .navbar-menu {
        display: flex;
    }
    .nav-right, .nav-left {
        flex: 1;
        max-width: 300px;
    }
    .nav-right {
        justify-content: end;
    }
    .nav-left {
        justify-content: start;
    }
    .logo-container {
        flex: 0 1 auto;
        justify-content: center;
    }
    a span {
        display: none;
    }
    a {
        margin: 0 1rem;
    }
}

