a {
    margin : 0 1rem;
    align-items: center;
}

svg, a#icons {
    width: 30px;
    height: 30px;
    /* padding: 0.5rem;  */
}

nav {
    display: grid;
    grid-template-areas: "left-icon heading icons";
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    padding: 1rem 0 1rem 0;
    width: 100%;
    border-bottom: solid 0.1rem; /* Placehold border to see bottom edge of nav */
}

a span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
    transition: 0.4s;
    pointer-events: none;
}

.is-active span:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.is-active span:nth-child(2) {
    opacity: 0;
}

.is-active span:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

#sitelogo {
    width: 200px;
    height: 100px;
}

.navbar-menu {
    display: none;
    /* position: relative; */
}

.isactive .navbar-menu {
    display: block;
}

@media (min-width: 1000px) {
    .navbar-menu {
        display: flex;
        /* justify-content: space-between; */
        /* display: none; */
        /* pointer-events: none; */
    }
    a span {
        display: none;
    }
    nav {
        min-width: 100vmax;
    }
}
