#items-list {
    display: grid
}

#item-details {
    display: flex;

    flex-direction: column;
    margin: 2rem;
}

.featured-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#shop-items {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    max-width: 34rem;
    border-bottom: 0.5rem solid rgb(0, 0, 0);
}


#item-image {
    max-width: 100%;
}

#category-items a:hover {
    text-decoration: none;
}

#item-info {
    display: flex;
    padding: 1rem;
    align-items: end;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
}

#price-button {
    margin: 0;
    padding: 0;
}

.page-title {
    margin: 5rem 0 2rem 0;
    font-size: 2.5em;
    font-weight: 400;
}

div.category-section {
    margin: 0;
    padding: 0;
}

#category-title {
    margin: 3rem 0 0 1rem;
    /* text-decoration: underline; */
    font-weight: 500;
}

#item-name, #itemprice {
    margin: 0;
    font-weight: 400
}

@media (min-width: 768px) and (max-width: 963px) {
    /* CSS styles for tablets */
}

@media (min-width: 960px) {
    div#shop-items {
        max-width: 26rem;
        margin: 0rem 0.7rem;
    }

    #item-image {
        max-width: 100%;
    }

    #category-items {
        display: grid;
        margin: 2rem;
        grid-gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
    }

    #category-title {
        margin: 3rem 0 0 3rem;
    }

    #shop-items {
        transition: 0.3s;
    }

    #shop-items:hover {
        transform: scale(1.02);
        transition: 0.3s ease-out;
    }

    #item-details {
        display: flex;
        align-items: flex-end;
        flex-direction: row;
    }
}