#items-list {
    display: grid
}

#shop-items {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    /* border: 6px solid rgb(0, 0, 0); */
    box-shadow: 5px;
    max-width: 100vw;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5)
}

#item-image {
    max-width: 100vw;
}

#category-items a:hover {
    text-decoration: none;
}

#item-info {
    display: flex;
    padding: 1rem;
    align-items: end;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
}

#price-button {
    margin: 0;
    padding: 0;
}

h1#page-title {
    font-size: 5em;
}

div.category-section {
    margin: 0;
    padding: 0;
}

#category-title {
    margin: 3rem 0 0 1rem;
    text-decoration: underline;
}

#item-name, #itemprice {
    margin: 0;
    font-weight: 400
}

@media (min-width: 768px) and (max-width: 963px) {
    /* CSS styles for tablets */
}

@media (min-width: 960px) {
    div#shop-items {
        max-width: 26rem;
        margin: 0rem 0.7rem;
    }

    #item-image {
        max-width: 26rem;
    }

    #category-items {
        display: flex;
        margin: 2rem;
        /* max-width: 80vw; */
    }

    #category-title {
        margin: 3rem 0 0 3rem;
    }

    #shop-items {
        transition: 0.3s;
    }

    #shop-items:hover {
        transform: scale(1.02);
        transition: 0.3s ease-out;
    }
}